{:source-paths ["src"]
 :dependencies []
 :dev-http     {8001 "public"}
 :builds
 {:app
  {:target     :browser
   :output-dir "public/js"
   :asset-path "/js"
   :compiler-options {:external-config {:react {:development true}}}
   :modules    {:main {:entries [small-tiles.core] :init-fn small-tiles.core/init}}}}}