{:source-paths
 ["src"]

 :dependencies
 [[com.google.tensorflow/tfjs "2.8.0"]]

 :builds
 {:app
  {:target :browser
   :output-dir "public/js"
   :asset-path "/js"
   :modules {:main {:entries [tfjs.core]}}}}}
